@page "/accounts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BisonBank.Models
@using BisonBank.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BisonBank.Data.BisonBankContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

@if (context.Account == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Balance</th>
                <th>Account Number</th>
                <th>Routing Number</th>
                <th>Open Date</th>
                <th>Interest Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in context.Account)
            {
                <tr>
                    <td>@account.balance</td>
                    <td>@account.accountNumber</td>
                    <td>@account.routingNumber</td>
                    <td>@account.dateCreated</td>
                    <td>@account.interest</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private BisonBankContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}