@page "/accounts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BisonBank.Models
@using BisonBank.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BisonBank.Data.BisonBankContext> DbFactory

<PageTitle>Accounts</PageTitle>

<h1>Accounts</h1>

<QuickGrid Class="my-grid" Items="context.Account">

    <TemplateColumn Title="Account Number" Context="account" Sortable="true">
        @account.accountNumber
    </TemplateColumn>

    <TemplateColumn Title="Routing Number" Context="account" Sortable="true">
        @account.routingNumber
    </TemplateColumn>

    <TemplateColumn Title="Balance" Context="account" Sortable="true">
        @account.balance.ToString("C")
    </TemplateColumn>

    <TemplateColumn Title="Interest Rate" Context="account" Sortable="true">
        @account.interest
    </TemplateColumn>

    <TemplateColumn Title="Account Opened" Context="account" Sortable="true">
        @account.dateCreated.ToString("MM-dd-yyyy")
    </TemplateColumn>

</QuickGrid>

@code {
    private BisonBankContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}