@page "/transfers/details"
@using Microsoft.EntityFrameworkCore
@using BisonBank.Models
@inject IDbContextFactory<BisonBank.Data.BisonBankContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <hr />
    @if (transfer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">From:</dt>
            <dd class="col-sm-10">@transfer.originAccount</dd>
            <dt class="col-sm-2">To:</dt>
            <dd class="col-sm-10">@transfer.destinationAccount</dd>
            <dt class="col-sm-2">Amount:</dt>
            <dd class="col-sm-10">@transfer.amount.ToString("C")</dd>
            <dt class="col-sm-2">Date:</dt>
            <dd class="col-sm-10">@transfer.date.ToString("MM-dd-yyyy")</dd>
            <dt class="col-sm-2">Memo:</dt>
            <dd class="col-sm-10">@transfer.description</dd>
        </dl>
        <div>
            <a href="@($"/transfers")">Return to Transfer History</a>
        </div>
    }
</div>

@code {
    private Transfer? transfer;

    [SupplyParameterFromQuery]
    private int transactionID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        transfer = await context.Transfer.FirstOrDefaultAsync(m => m.transactionID == transactionID);

        if (transfer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
